{% extends 'base.html' %}
{% block content %}

<div class="container mt-5" style="max-width: 550px;">

    <div class="card shadow">
        <div class="card-body">
            <h3 class="text-center text-primary fw-bold mb-4">Start New Rental</h3>

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Student Name</label>
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Book Title</label>
                    {{ form.title }}
                </div>

                <button class="btn btn-success w-100">Start Rental</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}
